#noticias {
    margin: 20px 0;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
}

.noticia img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.noticia h3 {
    margin: 10px 0;
}

/* Sección Contáctanos */
#contacto {
    text-align: center;
    margin: 20px 0;
}

#form-contacto {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

#form-contacto label {
    margin-top: 10px;
    text-align: left;
}

#form-contacto input, 
#form-contacto textarea, 
#form-contacto button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.informacion-contacto {
    background-color: #eee;
    padding: 15px;
    margin: 20px 0;
    text-align: left;
}

.detalle {
    background-color: #f3f3f3;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    text-align: left;
    max-width: 600px;
  }
  