<section id="contacto">
    <h2>Contáctanos</h2>
    <form id="form-contacto">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>

        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" required></textarea>

        <button type="submit">Enviar</button>
    </form>
    <div class="informacion-contacto">
        <p>Teléfono: (123) 456-7890</p>
        <p>Contacto: enviostodopais&#64;contactoenvios.com</p>
        <p>Horario: Lunes a Sábado, 9:00 AM - 6:00 PM</p>
        <p>Domingos: 9:00 AM - 3:00 PM</p>
    </div>
</section>
