       html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .contenido {
            height: 80vh;
          
            background-color: #ffffff;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #piepagina {
            background-color: #343a40; /* Color de fondo del footer */
            color: white; /* Color del texto */
            text-align: center;
            padding: 1rem 0; /* Espaciado vertical */
        }
