#cotizador {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    width: inherit;
}

#contenedor-cotizador {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea la imagen y el formulario por la parte superior */
    flex-wrap: nowrap; /* Evita que se apilen */
    max-width: 6200px; /* Aumenta el ancho máximo del contenedor */
    margin: 20px auto;
    gap: 30px; /* Espacio entre el formulario y la imagen */
    padding: 20px;
  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#formulario-cotizador {
    flex: 1; /* Ocupa el espacio necesario */
    max-width: 500px;
}

#form-cotizador {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#form-cotizador label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    color: #333;
}

#form-cotizador input, 
#form-cotizador select, 
#form-cotizador button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#form-cotizador button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form-cotizador button:hover {
    background-color: #0056b3;
}

#imagen-cotizador img {
    max-width: 200%; /* Se adapta al contenedor */
    height: auto; /* Mantiene la proporción */
    max-height: 300px; /* Limita la altura máxima */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 1px solid #ddd;
}

#resultado {
    margin: 20px 0;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}
